body{
  margin-left:80px;
  background-color:#9d7581;
  color:#733044;
  font-family: rhapsody;
}
h1{
  font-size: 200px;
  font-style:normal !important;
  position:relative;
}
h4{
  font-size: 80px;
  position: absolute;
  top:230px;
}
p{
  font-size: 80px;
}

@font-face {
  font-family:rhapsody;
  src: url(rhapsody.ttf);
}
.border{
  border:none;
  position:absolute;
  color:#733044;
  font-family: rhapsody;
  font-size: 80px;
  margin:0px;
}
#one{
   border-radius: 100px;
   box-shadow: white;
   padding: 20px;
}
.whitering{
   border:10px white dotted;
   position:fixed;
}
#ring1{
  right:-200px;
  top:20%;
  border-radius: 1000px;
  width:1300px;
  height:1300px;
}
#ring2{
  right:-200px;
  border-radius:1000px;
  width:1000px;
  height:1000px;
  top:60%;
  background-color: rgba(255, 255, 255, 0.26);
}
.goback{
  position:fixed;
}
#rosy{
  right:10%;
  border-radius:150px;
  width:150px;
  height:150px;
  top:80%;
  background-color: #733044;
  color:white;
}
#link{
  position:absolute;
  left:23%;
  top:40%;
  font-size: 32px;
}
a:hover{
  color:white;
}
a:visited{
  color:white;
}
a:before{
  color:white;
}
